@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --darkPurple: #6100C2;
    --Purple: #7900C2;
    --black: #37312A;
    --whiteGrey: rgba(255, 255, 255, .90);
    --grey: #969696;
    --white: #FFFFFF;
    
    --fontePoppins: "Poppins", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--black);
    box-sizing: border-box;
    display: grid;
    grid-template-areas: 'aside header header header'
                         'aside main main main'
                         'footer footer footer footer';
}

.asideMenu {grid-area: aside;}
.navegacao_cabecalho {grid-area: header;}
.navegacao {grid-area: main;}
.rodape {grid-area: footer;}

.asideMenu {
    background-color: var(--black);
    display: flex;
    flex-direction: column;
}

.asideMenu-tituloMenu {
    display: flex;
    gap: 8px;
    font-family: var(--fontePoppins);
    color: var(--white);
    font-size: 22px;
    font-weight: 700;
    align-items: center;
}

.media {
    margin: 40px;
}

.asideMenu_button{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: var(--white);
    font-family: var(--fontePoppins);
    gap: 12px;
    margin-bottom: 35px;
}


.right {
    display: flex;
    flex-direction: column;
}

.navegacao_cabecalho {
    display: flex;
    flex-direction: column;
    background-image: url(assets/headerBackground.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    gap: 6px;
}

.navegacao_cabecalho_menu {
    display: flex;
    justify-content: space-between;
    margin: 3% 3% 152px 0px;
}

.navegacao_cabecalho_menu {
    font-family: var(--fontePoppins);
    
}

.navegacao_cabecalho_menu_conteudo, .navegacao_cabecalho_menu_funcao {
    display: flex;
    gap: 32px;
    padding: 0 3%;
}

.navegacao_cabecalho_menu_conteudo_link, .navegacao_cabecalho_menu_funcao_link {
    font-size: 1rem;
    color: var(--white);
    text-decoration: none;
}

.fotoeNomePerfil {
    display: flex;
    align-items: center;
    gap: 8px;
}

.navegacao_cabecalho_navegacao_titulo {
    font-family: var(--fontePoppins);
    font-size: 3rem;
    color: var(--white);
    font-weight: 600;
    padding-left: 3%;
}

.navegacao_cabecalho_navegacao_descricao {
    font-family: var(--fontePoppins);
    font-size: .875rem;
    color: var(--white);
    font-weight: 400;
    margin-bottom: 36px;
    padding-left: 3%;
}

.navegacao_cabecalho_navegacao_interacao {
    display: flex;
    gap: 16px;
    padding-left: 3%;
    margin-bottom: 53px;
}

.navegacao_cabecalho_navegacao_interacao_watch {
    background-color: var(--darkPurple);
    color: var(--white);
    padding: 17px 24px;
    border-radius: 14px;
    font-family: var(--fontePoppins);
    font-size: 1rem;
    font-weight: 500;
}

.navegacao_cabecalho_navegacao_interacao_favorito {
    display: flex;
    background-color: var(--whiteGrey);
    padding: 15px;
    border-radius: 14px;
    align-items: center;
}

.navegacao_cabecalho_navegacao_interacao_favorito img {
    width: 24px;
    height: 24px;
}

.navegacao {
    background-color: var(--black);
    padding-left: 3%;
}

.navegacao_titulo {
    font-family: var(--fontePoppins);
    color: var(--white);
    font-size: 1.25rem;
    font-weight: 600;
    margin: 6px 0 16px 0;
}

.carrosel_lista {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    list-style: none;
    height: 401px;
}

.carrosel_lista_item {
    border: 1px solid var(--white);
    border-radius: 26px;
    margin: 24px;
    display: flex;
    flex-direction: column;
}

.lista_item-topcard {
    background-size: cover;
    flex-grow: 2;
    position: relative;
    border-radius: 25px 25px 0 0;
}

.tokyo {background-image: url(assets/tokyo.jpg);}
.moonfall {background-image: url(assets/moonFall.jpg);}
.paris {background-image: url(assets/lifeInParis.jpg);}
.gucci {background-image: url(assets/houseOfGucci.jpg);}

.topcard-favorito {
    position: absolute;
    right: 0;
    margin: 20px;
    padding: 8px 8px 4px 8px;
    background-color: var(--whiteGrey);
    text-align: center;
    border-radius: 8px;
}

.lista_item-bottomcard {
    height: 85px;
    background-color: var(--whiteGrey);
    padding: 16px 0 0 20px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-family: var(--fontePoppins);
    border-radius: 0 0 26px 26px;

}

.lista_item-titulo {
    font-weight: 600;
}

.KeepWatch_carrosel_lista {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    height: 401px;
}

.KeepWatch_carrosel_lista .lista_item-topcard {
    background-position: center;
}

.filme01 {background-image: url(assets/Group118.jpg)}
.filme02 {background-image: url(assets/Group117.png)}
.filme03 {background-image: url(assets/Group116.png)}


.father {
    background-image: url(assets/heart.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}

.father:hover {
    background-image: url(assets/heartFill.png);
}


.rodape {
    width: 100%;
    height: 100px;
    background-color: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
    margin-top: 40px;
}

.informacoes {
    font-family: var(--fontePoppins);
    color: var(--white);
    text-decoration: none;
}
